body {
    background-image: url(background.jfif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}
#Msg {
    text-align: center;
    color: #FFF;
}
p {
    color: #fff;
}
a {
    color: #95F204;
}
.button {
    background-color: #38AF98;
    border: 5px solid #38AF98;
    border-radius: 3px;
    color: #fff;
}